@import './custom-antd.css';

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('../assets/fonts/IBMPlexSansCondensed-Regular.ttf');
}

html {
  font-size: 100%;
}

body {
  background-color: silver;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;

  font-family: 'IBM Plex Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 320px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 140%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 155%;
  }
}

@media (min-width: 2100px) {
  html {
    font-size: 165%;
  }
}

/* TEXT */
p,
a,
li,
div,
span,
button,
input,
textarea {
  font-size: 0.7rem;
}

h1 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button:focus,
input[type='button']:focus {
  outline: none;
}

button {
  cursor: pointer;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
